{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "lines-around-comment": 0,
    "no-confusing-arrow": 0,
    "no-alert": "error",
    "no-console": "error",
    "no-debugger": "error",
    "no-shadow": "warn",
    "object-shorthand": "warn",

    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/prop-types": 0,

    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "args": "all",
        "argsIgnorePattern": "^__",
        "varsIgnorePattern": "^__"
      }
    ],
    "@typescript-eslint/no-use-before-define": "warn"
  },
  "ignorePatterns": [
    "*.log",
    "*.md",
    "*.mdx",
    "node_modules/",
    "dist/",
    "coverage/",
    ".nyc_output/",
    ".pnpm-store/",
    "pnpm-lock.yaml",
    "storybook-static/"
  ]
}
